openapi: 3.1.0
info:
  title: 우리아이 API
  version: 0.3.0
  description: '우리아이 MVP 개발 고정용 REST API 명세. Base URL: /api/v1'
servers:
- url: https://api.wooriai.app/api/v1
  description: Production placeholder
- url: http://localhost:3000/api/v1
  description: Local
security:
- BearerAuth: []
tags:
- name: Auth
- name: Households
- name: Children
- name: Home
- name: Expenses
- name: Budgets
- name: Reports
- name: Items
- name: Commerce
- name: Imports
- name: Consents
- name: Admin
paths:
  /auth/oauth-login:
    post:
      tags:
      - Auth
      operationId: oauthLogin
      summary: 소셜 로그인
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  tokens:
                    $ref: '#/components/schemas/TokenPair'
                  onboardingRequired:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider
              - providerToken
              properties:
                provider:
                  type: string
                  enum:
                  - kakao
                  - apple
                  - google
                providerToken:
                  type: string
                device:
                  type: object
      security: []
  /auth/refresh:
    post:
      tags:
      - Auth
      operationId: refreshToken
      summary: 토큰 재발급
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - refreshToken
              properties:
                refreshToken:
                  type: string
      security: []
  /auth/logout:
    post:
      tags:
      - Auth
      operationId: logout
      summary: 로그아웃
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /me:
    get:
      tags:
      - Auth
      operationId: getMe
      summary: 내 정보 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  households:
                    type: array
                    items:
                      $ref: '#/components/schemas/Household'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /households:
    post:
      tags:
      - Households
      operationId: createHousehold
      summary: 가구 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Household'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
  /households/{householdId}/members:
    get:
      tags:
      - Households
      operationId: listMembers
      summary: 가구 멤버 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/HouseholdId'
  /households/{householdId}/invites:
    post:
      tags:
      - Households
      operationId: createInvite
      summary: 가족 초대 링크 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  inviteUrl:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/HouseholdId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - role
              - channel
              properties:
                role:
                  type: string
                  enum:
                  - co_parent
                  - viewer
                  - gift_participant
                channel:
                  type: string
                  enum:
                  - kakao
                  - sms
                  - link
  /invites/{token}:
    get:
      tags:
      - Households
      operationId: getInvite
      summary: 초대 정보 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  householdName:
                    type: string
                  role:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      security: []
  /invites/{token}/accept:
    post:
      tags:
      - Households
      operationId: acceptInvite
      summary: 초대 수락
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  household:
                    $ref: '#/components/schemas/Household'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
  /onboarding/status:
    get:
      tags:
      - Children
      operationId: getOnboardingStatus
      summary: 온보딩 상태 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: boolean
                  nextStep:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /children:
    get:
      tags:
      - Children
      operationId: listChildren
      summary: 아이 목록 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  children:
                    type: array
                    items:
                      $ref: '#/components/schemas/Child'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Children
      operationId: createChild
      summary: 아이 프로필 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Child'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - householdId
              - nickname
              - stageMode
              properties:
                householdId:
                  type: string
                  format: uuid
                nickname:
                  type: string
                stageMode:
                  type: string
                  enum:
                  - pregnant
                  - born
                  - manual
                dueDate:
                  type: string
                  format: date
                birthDate:
                  type: string
                  format: date
                manualStage:
                  type: string
  /children/{childId}:
    get:
      tags:
      - Children
      operationId: getChild
      summary: 아이 프로필 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Child'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
    patch:
      tags:
      - Children
      operationId: updateChild
      summary: 아이 프로필 수정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Child'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname:
                  type: string
                dueDate:
                  type: string
                  format: date
                birthDate:
                  type: string
                  format: date
                manualStage:
                  type: string
  /children/{childId}/prepared-items:
    post:
      tags:
      - Children
      operationId: setPreparedItems
      summary: 온보딩 준비 완료 품목 저장
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  updatedCount:
                    type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - itemTemplateIds
              properties:
                itemTemplateIds:
                  type: array
                  items:
                    type: string
                    format: uuid
  /home:
    get:
      tags:
      - Home
      operationId: getHome
      summary: 홈 대시보드 요약
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: childId
        in: query
        required: true
        schema:
          type: string
          format: uuid
  /categories:
    get:
      tags:
      - Expenses
      operationId: listCategories
      summary: 카테고리 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /children/{childId}/expenses:
    get:
      tags:
      - Expenses
      operationId: listExpenses
      summary: 월별 지출 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  expenses:
                    type: array
                    items:
                      $ref: '#/components/schemas/Expense'
                  totalAmountKrw:
                    type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - $ref: '#/components/parameters/YearMonth'
    post:
      tags:
      - Expenses
      operationId: createExpense
      summary: 지출 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExpenseRequest'
  /expenses/{expenseId}:
    get:
      tags:
      - Expenses
      operationId: getExpense
      summary: 지출 상세
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      tags:
      - Expenses
      operationId: updateExpense
      summary: 지출 수정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Expense'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                categoryId:
                  type: string
                  format: uuid
                amountKrw:
                  type: integer
                spentOn:
                  type: string
                  format: date
                itemName:
                  type: string
                memo:
                  type: string
    delete:
      tags:
      - Expenses
      operationId: deleteExpense
      summary: 지출 삭제
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /children/{childId}/budget:
    get:
      tags:
      - Budgets
      operationId: getBudget
      summary: 월 예산 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - $ref: '#/components/parameters/YearMonth'
    put:
      tags:
      - Budgets
      operationId: upsertBudget
      summary: 월 예산 생성/수정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Budget'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - yearMonth
              - amountKrw
              properties:
                yearMonth:
                  type: string
                  format: date
                amountKrw:
                  type: integer
                  minimum: 1
  /children/{childId}/reports/monthly:
    get:
      tags:
      - Reports
      operationId: getMonthlyReport
      summary: 월별 리포트
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReportMonthly'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - $ref: '#/components/parameters/YearMonth'
  /children/{childId}/reports/cumulative:
    get:
      tags:
      - Reports
      operationId: getCumulativeReport
      summary: 누적 리포트
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalExpenseKrw:
                    type: integer
                  yearly:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
  /children/{childId}/reports/category:
    get:
      tags:
      - Reports
      operationId: getCategoryReport
      summary: 카테고리별 리포트
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - $ref: '#/components/parameters/YearMonth'
  /children/{childId}/items:
    get:
      tags:
      - Items
      operationId: listItems
      summary: 준비템 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - name: tab
        in: query
        required: false
        schema:
          type: string
          enum:
          - now
          - soon
          - prepared
          - not_needed
  /children/{childId}/items/{itemTemplateId}:
    get:
      tags:
      - Items
      operationId: getItemDetail
      summary: 준비템 상세
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - name: itemTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /children/{childId}/items/{itemTemplateId}/status:
    patch:
      tags:
      - Items
      operationId: updateItemStatus
      summary: 준비템 상태 변경
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemSummary'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      - name: itemTemplateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - not_prepared
                  - prepared
                  - gifted
                  - not_needed
                  - interested
                expenseId:
                  type: string
                  format: uuid
  /product-links/{productLinkId}/click:
    post:
      tags:
      - Commerce
      operationId: clickProductLink
      summary: 제휴 링크 클릭 추적
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliateClickResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: productLinkId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                childId:
                  type: string
                  format: uuid
                referrerScreenId:
                  type: string
  /children/{childId}/imports/excel:
    post:
      tags:
      - Imports
      operationId: createExcelImport
      summary: 엑셀/CSV 업로드
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - $ref: '#/components/parameters/ChildId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
  /imports/{importJobId}:
    get:
      tags:
      - Imports
      operationId: getImportJob
      summary: 업로드 작업 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: importJobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /imports/{importJobId}/rows:
    get:
      tags:
      - Imports
      operationId: listImportRows
      summary: 분석 미리보기 행 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImportRow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: importJobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
  /imports/{importJobId}/rows/{rowId}:
    patch:
      tags:
      - Imports
      operationId: updateImportRow
      summary: 미리보기 행 수정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportRow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: importJobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: rowId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                selected:
                  type: boolean
                categoryId:
                  type: string
                  format: uuid
                parsedItemName:
                  type: string
                parsedAmountKrw:
                  type: integer
  /imports/{importJobId}/confirm:
    post:
      tags:
      - Imports
      operationId: confirmImport
      summary: 엑셀 가져오기 확정
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  importedCount:
                    type: integer
                  skippedCount:
                    type: integer
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      parameters:
      - name: importJobId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                selectedRowIds:
                  type: array
                  items:
                    type: string
                    format: uuid
  /consents:
    get:
      tags:
      - Consents
      operationId: listConsents
      summary: 동의 이력 조회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  consents:
                    type: array
                    items:
                      type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Consents
      operationId: upsertConsents
      summary: 동의 저장/철회
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - consents
              properties:
                consents:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      version:
                        type: string
                      accepted:
                        type: boolean
  /admin/item-templates:
    get:
      tags:
      - Admin
      operationId: adminListItemTemplates
      summary: 관리자 준비템 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ItemDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Admin
      operationId: adminCreateItemTemplate
      summary: 관리자 준비템 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDetail'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - necessityLevel
              - reasonText
              properties:
                name:
                  type: string
                necessityLevel:
                  type: string
                reasonText:
                  type: string
  /admin/product-links:
    get:
      tags:
      - Admin
      operationId: adminListProductLinks
      summary: 관리자 상품 링크 목록
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductLink'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Admin
      operationId: adminCreateProductLink
      summary: 관리자 상품 링크 생성
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductLink'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - itemTemplateId
              - platform
              - title
              - url
              properties:
                itemTemplateId:
                  type: string
                  format: uuid
                platform:
                  type: string
                title:
                  type: string
                url:
                  type: string
                isAffiliate:
                  type: boolean
                isSponsored:
                  type: boolean
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - code
          - message
          properties:
            code:
              type: string
              example: EXPENSE_AMOUNT_INVALID
            message:
              type: string
              example: 금액을 다시 확인해주세요.
            details:
              type: object
              additionalProperties: true
            requestId:
              type: string
    MoneyKRW:
      type: integer
      minimum: 1
      example: 49800
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        displayName:
          type: string
        email:
          type:
          - string
          - 'null'
        status:
          type: string
          enum:
          - active
          - withdrawn
          - blocked
    TokenPair:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        expiresIn:
          type: integer
          example: 1800
    Household:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        role:
          type: string
          enum:
          - owner
          - co_parent
          - viewer
          - gift_participant
    Child:
      type: object
      properties:
        id:
          type: string
          format: uuid
        householdId:
          type: string
          format: uuid
        nickname:
          type: string
        stageMode:
          type: string
          enum:
          - pregnant
          - born
          - manual
        dueDate:
          type:
          - string
          - 'null'
          format: date
        birthDate:
          type:
          - string
          - 'null'
          format: date
        manualStage:
          type:
          - string
          - 'null'
        currentStage:
          type: string
          example: pregnancy_late
        stageLabel:
          type: string
          example: 임신 28주차
    Category:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        name:
          type: string
        iconName:
          type: string
    Expense:
      type: object
      required:
      - id
      - childId
      - amountKrw
      - spentOn
      - itemName
      properties:
        id:
          type: string
          format: uuid
        childId:
          type: string
          format: uuid
        categoryId:
          type: string
          format: uuid
        amountKrw:
          $ref: '#/components/schemas/MoneyKRW'
        spentOn:
          type: string
          format: date
        itemName:
          type: string
          example: 기저귀
        merchant:
          type:
          - string
          - 'null'
        memo:
          type:
          - string
          - 'null'
        expenseType:
          type: string
          enum:
          - expense
          - gift
          - refund
          default: expense
        source:
          type: string
          enum:
          - manual
          - excel_import
          - purchase_followup
          - admin
    CreateExpenseRequest:
      type: object
      required:
      - categoryId
      - amountKrw
      - spentOn
      - itemName
      properties:
        categoryId:
          type: string
          format: uuid
        amountKrw:
          $ref: '#/components/schemas/MoneyKRW'
        spentOn:
          type: string
          format: date
        itemName:
          type: string
          maxLength: 120
        merchant:
          type: string
        paymentMethod:
          type: string
          enum:
          - unknown
          - cash
          - card
          - transfer
          - mobile_pay
          default: unknown
        memo:
          type: string
        linkedItemTemplateId:
          type: string
          format: uuid
    Budget:
      type: object
      properties:
        childId:
          type: string
          format: uuid
        yearMonth:
          type: string
          format: date
          example: '2026-07-01'
        amountKrw:
          $ref: '#/components/schemas/MoneyKRW'
        usedAmountKrw:
          type: integer
        remainingAmountKrw:
          type: integer
    HomeSummary:
      type: object
      properties:
        child:
          $ref: '#/components/schemas/Child'
        totalExpenseKrw:
          type: integer
        monthly:
          $ref: '#/components/schemas/Budget'
        recommendedItems:
          type: array
          items:
            $ref: '#/components/schemas/ItemSummary'
        recentExpenses:
          type: array
          items:
            $ref: '#/components/schemas/Expense'
    ItemSummary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        necessityLevel:
          type: string
          enum:
          - essential
          - convenience
          - optional
        status:
          type: string
          enum:
          - not_prepared
          - prepared
          - gifted
          - not_needed
          - interested
        timingLabel:
          type: string
        priceBandText:
          type: string
    ItemDetail:
      allOf:
      - $ref: '#/components/schemas/ItemSummary'
      - type: object
        properties:
          reasonText:
            type: string
          skipReasonText:
            type:
            - string
            - 'null'
          usedSecondhandOk:
            type: boolean
          safetyNote:
            type:
            - string
            - 'null'
          productLinks:
            type: array
            items:
              $ref: '#/components/schemas/ProductLink'
    ProductLink:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          enum:
          - coupang
          - naver
          - custom
        title:
          type: string
        isAffiliate:
          type: boolean
        isSponsored:
          type: boolean
        disclosureText:
          type: string
          example: 이 링크로 구매하면 우리아이가 수수료를 받을 수 있어요.
    AffiliateClickResponse:
      type: object
      properties:
        clickId:
          type: string
          format: uuid
        redirectUrl:
          type: string
        disclosureText:
          type: string
    ReportMonthly:
      type: object
      properties:
        childId:
          type: string
          format: uuid
        yearMonth:
          type: string
          format: date
        totalExpenseKrw:
          type: integer
        budgetAmountKrw:
          type:
          - integer
          - 'null'
        categoryTop:
          type: array
          items:
            type: object
    ImportJob:
      type: object
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum:
          - uploaded
          - analyzing
          - preview_ready
          - confirmed
          - failed
          - cancelled
        rowCount:
          type: integer
        candidateCount:
          type: integer
        importedCount:
          type: integer
    ImportRow:
      type: object
      properties:
        id:
          type: string
          format: uuid
        rowIndex:
          type: integer
        parsedDate:
          type: string
          format: date
        parsedItemName:
          type: string
        parsedAmountKrw:
          type: integer
        categoryId:
          type: string
          format: uuid
        confidence:
          type: number
        selected:
          type: boolean
        validationStatus:
          type: string
  parameters:
    ChildId:
      name: childId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    HouseholdId:
      name: householdId
      in: path
      required: true
      schema:
        type: string
        format: uuid
    YearMonth:
      name: yearMonth
      in: query
      required: false
      schema:
        type: string
        pattern: ^\d{4}-\d{2}$
        example: 2026-07
